@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
$title: 'Yellowtail', cursive;
$bodyTxt: 'Open Sans', sans-serif;

$color1: #ECECEC;
$titleColor: #c89f9c;
$bg: #eee2df;